.button {
    font-family: Graph Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 27px;

    /* identical to box height */
    display: flex;
    align-items: center;

    a {
        color: @content-white;
        background: @red;
        border-radius: 3px;
        padding: 0 20px;
    }
}