

@header-black: #000000;
@header-background: #FEF6E1;
@header-secondary: #E57474;

@content-black: #000000;
@content-white: #FFFFFF;
@content-background: #FFFFFF;
@content-title: #E57474;
@content-gray:  #505050;
@content-background-gray: #F9F8F8;
@content-turqoise: #9AD6D2;


@tile-background: #FEF6E1;

@pink: #FF71A6;
@orange: #FA6900BA;
@purple: #8A8ECD;
@turqoise: #1693A5;
@green: #C8D06D;
@red: #E57F74;
@grey: #A4A4A4;

@footer-background: #484C4F;
@footer-secondary: #9AD6D2;
@footer-tertiary: #E57474;
@footer-white: #FFFFFF;