.enumeration-item {
    .image {
        height: 100%;
        min-height: 200px;
    }

    .enumeration-content {
        background: @tile-background;
        color: @content-gray;
        padding: 40px;

        .enumeration {
            font-family: @title-font;
            font-style: normal;
            font-weight: bold;
            font-size: 96px;
            line-height: 96px;
        }

        .enumeration-title {
            font-family: @title-font;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 36px;
        }

        p {
            font-family: @content-font;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
        }
    }
}