.events-selectors {
    display: flex;
    justify-content: space-between;
}


.events-view-selector {
    width: 165px;
}

.events-type-selector{
    width: 442px;
}

.zip-input {
    font-family: @content-font;
    width: 75px;

    input[type='number'] {
    -moz-appearance:textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    .ant-input-suffix {
        color: @grey
    }
}

.timeline {

    .timeline-svg {

        .date-container {
            font-family: Graph Condensed;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 48px;
            text-align: center;
            fill: @content-gray;
        }

        .info-container {
            font-family: Graph Condensed;
            font-style: normal;
            font-weight: bold;
            text-align: center;
            fill: @content-gray;

            .title {
                font-size: 36px;
                line-height: 36px;
            }
            .description {
                font-family: Klima;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
            }
            .button {
                cursor: pointer;
                fill: @content-title;
            }
        }

        circle {
            fill: @content-turqoise;
        }
    }

    .line  {
        stroke-width: 2px;
        stroke: @content-gray;
        fill: none;
    }

    .line.before-today {
        stroke-dasharray: 5px, 5px;
    }

}