@font-face {
    font-family: "Graph Condensed";
    src: url("/static/fonts/graph-ff-condensed/graph-ff-condensed/webfonts/graph-ff-condensed-black-web.ttf");
}

@font-face {
    font-family: "Klima";
    // src: url("/static/fonts/klima/klima-bold-italic.ttf");
    // src: url("/static/fonts/klima/klima-heavy-Italic.ttf");
    // src: url("/static/fonts/klima/klima-heavy.ttf");
    // src: url("/static/fonts/klima/klima-light-Italic.ttf");
    // src: url("/static/fonts/klima/klima-light.ttf");
    // src: url("/static/fonts/klima/klima-medium-Italic.ttf");
    // src: url("/static/fonts/klima/klima-medium.ttf");
    // src: url("/static/fonts/klima/klima-regular-italic.ttf");
    src: url("/static/fonts/klima/klima-regular.ttf");
    // src: url("/static/fonts/klima/klima-ultra-italic.ttf");
    // src: url("/static/fonts/klima/klima-ultra.ttf");
    // src: url("/static/fonts/klima/klima-ultralight-italic.ttf");
    // src: url("/static/fonts/klima/klima-ultralight.ttf");
}

@title-font: Graph Condensed;
@content-font: Klima;

