.home-item {
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-size: cover;
    padding: 30px;
    height: 100%;

    h1, h2 {
        color: @content-white;
        font-family: @title-font;
        text-shadow: 1px 1px #000;
    }

    h2 span {
        background: @content-black;
        opacity: 0.8;
        padding: 10px;
    }
              
    &.row-of-1 {
        h1 {
            font-size: 120px;
        }
        h2 span{
            font-size: 60px;
        }
    }

    &.row-of-2 {
        h1 {
            font-size: 70px;
        }
        h2 {
            font-size: 35px;
        }
    }
    
    p {
        color: @content-white;
        font-size: 20px;
        font-family: @content-font;
        font-style: normal;
        font-weight: 800;
        text-transform: uppercase;
        background: rgba(0,0,0,0.7);
        display: inline;
        padding: 7px;
        line-height: 40px;
        box-shadow: 10px 0 0 black, -10px 0 0 black; /* to make text wrap nicely */
        }


}
