html, body {
    color: @header-black;
    --antd-wave-shadow-color: @content-turqoise;
}

::selection {
    background: @content-turqoise;
}

.ant-input-affix-wrapper:hover, .ant-input:hover, .ant-input:not(.ant-input-disabled){
    border-color: @content-turqoise;
}

#__next {
    height: 100%;

    .root {
        height: 100%;

        .icon-menu-item {
            margin-right: 70px;
            
            .layout-home-icon {
                height: 40px;
                cursor: pointer;
            }
        }

        .layout {
            // See https://stackoverflow.com/questions/10825879/how-can-a-variable-height-sticky-footer-be-defined-in-pure-css
            // Corresponds to wrapper class in link.
            display: flex;  /* use the flex model */
            min-height: 100%;
            flex-direction: column; 

            .subnavigation-header {
                background: @content-background;
                height: 50px;


                .social-links {
                    a {
                        color: @content-black;
                    }
                }

                .sub-menu {
                    display: flex;
                    justify-content: flex-end;

                    font-family: @title-font;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 27px;
                    line-height: 27px;
                    padding-top: 10px;

                    .contribution-container {
                        &:not(:last-child){
                            padding-right: 80px;
                        }
                    
                        >div {
                            width: 120px;
                        }
                    }
                }
            }

            .content {
                flex: 1;
                background-color: @content-background;
                padding: 0px 50px 50px 50px;
            }


            .footer {
                background-color: @footer-background;
                display: table-row;
                height: 100%;

                .social-links {
                    a {
                        color: @footer-tertiary;
                        font-family: @title-font;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 24px;
                    }
                }

                .link-item {
                    a {
                        color: @footer-tertiary;
                    }
                    .donate {
                        color: @footer-secondary;
                    }
                    font-family: @title-font;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 24px;
                }

                .form {
                    font-family: @content-font;
                    color: @grey;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 22px;

                    .ant-form-item {
                        margin-bottom: 0px;
                    }

                    .ant-form-item-children {
                        > button {
                            font-family: @title-font;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 24px;
                            line-height: 24px;
                            color: @footer-white;
                            background: @footer-secondary;
                            box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
                        }
                    }

                    .has-error .ant-form-explain, .has-error .ant-form-split {
                        color: @footer-tertiary;
                    }

                    .has-error .ant-input-affix-wrapper .ant-input {
                        border-color: @footer-tertiary;
                    }
                }
            }
        }
    }
}

.social-links {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// outside of __next so that the pop up can profit as well
.navigation-header, .ant-menu-submenu-popup {
    background: @header-background;

    .ant-menu {
        background: @header-background;
        border-bottom: none;
        display: flex;
        align-items: center;
        padding-top: 10px;

        .selected > div > a {
            background-image: linear-gradient(120deg, @header-secondary 0%, @header-secondary 100%);
            background-repeat: no-repeat;
            background-size: 120% 0.5em;
            background-position: 0 110%;
            &:hover {
                color: @header-black !important; 
            }
        }

        .ant-menu-submenu-title {
            color: @header-black;
        }

        .ant-menu-item, .ant-menu-submenu, .ant-menu-submenu-title, .ant-menu-submenu-popup {
            color: @header-black;
            font-family: "Graph Condensed";
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            // line-height: 26px;

            /* identical to box height */
            text-align: center;
            text-transform: uppercase;

            border-bottom: none;

            &:hover {
                border-bottom: none;
            }

            a {
                color: @header-black;
            }

            a:hover{
                color: @header-secondary;
            }
            // border: 14px solid @header-secondary;
            // box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

            .anticon-menu {
                svg {
                    height: 26px;
                    width: 20px;
                    padding-top: 2px;
                }
            }

            .donate {
                border: 3px solid @header-secondary;
                box-sizing: border-box;
                padding: 6px;
            }
        }
    }
}

.ant-menu-sub.ant-menu-vertical {
    display: initial;
}

.ant-message {
    font-family: @content-font;
    bottom: 20px;
    top: initial;
}