.link-section {
    font-family: @title-font;
    font-style: normal;
    font-weight: bold;
    background: @content-background-gray;
    padding: 50px;
    
    h1 {
        font-size: 144px;
        line-height: 144px;
        margin-bottom: 0px;
        color: @content-title;
    }

    p {
        font-size: 36px;
        line-height: 36px;
        color: @content-gray;
    }
}