.selector {
    
    font-family: @title-font;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 27px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .selector-item:not(:last-child)  {
        padding-right: 7px;
        border-right: black;
        border-right-style: solid;
    }

    .selector-item {
        &.selected {
            color: @header-secondary;
        }
        &:not(.selected){
            cursor: pointer;
        }
    }
}