.tile-item {

    .image {
        height: 100%;
        min-height: 200px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .tile-container {

        .tile-headers {
            font-family: @title-font;
            font-style: normal;
            font-weight: bold;

            h1 {
                font-size: 144px;
                line-height: 144px;
                margin-bottom: 0px;
                color: @content-title;
            }

            h2 {
                font-size: 36px;
                line-height: 36px;
                color: @content-gray;
            }
        }

        .tile-description {
            color: @content-gray;
            text-align: center;
        }

    }

    .tile-image {
        .image {
            background-size: cover;
        }
    }
}